@font-face {
    font-family: "SofiaSansMedium";
    src: url("/fonts/SofiaSans/Medium.ttf");
}

@font-face {
    font-family: "SofiaSansLight";
    src: url("/fonts/SofiaSans/Light.ttf");
}

@font-face {
    font-family: "MontserratLight";
    src: url("/fonts/Montserrat/Light.ttf");
}

@font-face {
    font-family: "MontserratRegular";
    src: url("/fonts/Montserrat/Regular.ttf");
}

@font-face {
    font-family: "MontserratSemiBold";
    src: url("/fonts/Montserrat/SemiBold.ttf");
}

@font-face {
    font-family: "MontserratMedium";
    src: url("/fonts/Montserrat/Medium.ttf");
}