.default-button {
    background-color: var(--active-button-color);
    color: var(--white-main-text-color);
    min-width: 200px;
    min-height: 40px;
    font-family: "MontserratMedium";
    font-size: var(--button-text-size);
    border: none;
    border-radius: var(--button-border-radius);
}

.default-button:hover {
    cursor: pointer;
}