@import url("./styles/fontFaces.css");
@import url("./styles/variables.css");

body, html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: var(--page-bg-gradient);
  font-family: "MontserratRegular";
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-weight: normal;
  font-size: inherit;
}

button {
  border: 0;
  outline: 0;
}

.default-button {
  background-color: var(--active-button-color);
  color: var(--white-main-text-color);
  font-family: "MontserratMedium";
  font-size: var(--button-text-size);
  border: none;
  border-radius: var(--button-border-radius);
}

.bordered-button {
  font-family: "MontserratMedium";
  background-color: transparent;
  color: var(--black-main-text-color);
  border: 3px solid var(--active-button-color);
  border-radius: var(--button-border-radius);
  font-size: var(--button-text-size); 
}

.default-button:hover {
  cursor: pointer;
}

.default-button:disabled {
  background-color: var(--inactive-color);
  color: var(--secondary-text-color);
}

.default-button:disabled:hover {
  cursor: default;
}