@import url("./styles/fontFaces.css");
@import url("./styles/variables.css");

body, html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-image: var(--page-bg-gradient);
  font-family: "MontserratRegular";
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-weight: normal;
  font-size: inherit;
}

button {
  border: 0;
  outline: 0;
}