.top {
    min-height: 325px;
    max-height: 500px;
    height: fit-content;
    background: linear-gradient(93.88deg, #8FB4C9 0.01%, #A19CDD 100%);
    color: var(--black-main-text-color);
    font-family: "SofiaSansMedium";
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0px;
    text-align: center;
}



.top__big-labels {
    max-width: 800px;
    font-size: var(--landing-page-subtitle-size);
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
}

.big-labels__title {
    font-family: "SofiaSansMedium";
    font-size: 2em;
}

.big-labels__subtitle {
    font-family: "SofiaSansLight";
    font-size: 1em;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: var(--landing-page-description-size);
    font-family: "MontserratLight";
}


.actions__description {
    max-width: 430px;
    margin-bottom: 10px;
}

.actions__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}