.bordered-button {
    background-color: transparent;
    color: var(--black-main-text-color);
    font-family: "MontserratMedium";
    font-size: var(--button-text-size);
    border: 3px solid #2B312E;
    border-radius: var(--button-border-radius);
}

.bordered-button:hover {
    cursor: pointer;
}